---
swagger: "2.0"
info:
  description: "The Constant Contact, Inc. V3 public API, for building integrations\
    \ with Constant Contact, the leading small-business email marketing platform."
  version: "3.0.0"
  title: "AppConnect V3"
  contact:
    name: "webservices@constantcontact.com"
  license:
    name: "Private"
host: "api.cc.email"
basePath: "/v3"
tags:
- name: "Account Services"
  description: "Use the account endpoints and methods to get account information."
- name: "Access Token Information"
  description: "Get authentication information about your access token."
- name: "Bulk Activities"
  description: "Bulk activities endpoints are used to manage large numbers of contacts,\
    \ lists, and tags."
- name: "Contacts"
  description: "Endpoints and methods to get, create, delete, and update one or more\
    \ contacts."
- name: "Contact Lists"
  description: "Endpoints and methods to get, create, delete, and update one or more\
    \ contact lists."
- name: "Contact Tags"
  description: "Endpoints and methods to get, create, delete, and update one or more\
    \ contact tags."
- name: "Contacts Reporting"
  description: "Contact reporting endpoints are used to gather activity reports for\
    \ campaigns sent to a contact."
- name: "Contacts Custom Fields"
  description: "Endpoints and methods to get, create, delete, and update on one or\
    \ more custom fields."
- name: "Email Campaigns"
  description: "Use email campaign endpoints and methods to get, create, and update\
    \ email campaigns."
- name: "Email Campaigns AB Tests"
  description: "Use Email Campaigns A/B Test endpoints and methods to get, create,\
    \ delete and update A/B tests."
- name: "Email Reporting"
  description: "Use the email reporting endpoints and methods to get reporting data\
    \ for email campaigns you sent to contacts."
- name: "Email Scheduling"
  description: "Use email scheduling endpoints and methods to schedule an email campaign\
    \ activity, unschedule an email campaign activity, and GET schedule information."
- name: "Segments"
  description: "Use segments to target a subset of your contacts that are most likely\
    \ to engage with a particular campaign."
- name: "Technology Partners"
  description: "Use partner endpoints to manage client Constant Contact accounts under\
    \ your partner account."
- name: "Technology Partners Webhooks"
  description: "Use partner webhooks to subscribe to billing event notifications from\
    \ Constant Contact."
- name: "My Library"
  description: "Use the MyLibrary methods to manage images in a Constant Contact account"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /account/user/privileges:
    get:
      tags:
      - "Account Services"
      summary: "GET User Privileges"
      description: "Use this method to return the user privileges associated with\
        \ your access token as an array of objects. This method returns all user privileges,\
        \ including privileges the V3 API does not currently use. Constant Contact\
        \ requires specific user privileges to make requests using the V3 API. For\
        \ more information, see the [User Privileges and Roles Overview](/api_guide/user_privileges.html)."
      operationId: "getUserPrivileges"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "Request successful."
          schema:
            $ref: "#/definitions/UserPrivilegesResource"
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. Your application is deactivated."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit: []
      - oauth2_access_code: []
      - api_key: []
  /account/summary:
    get:
      tags:
      - "Account Services"
      summary: "GET a Summary of Account Details"
      description: "Get account related details for a Constant Contact user account.\
        \ Use the `extra_fields` query parameter to include the `company_logo` and/or\
        \ `physical_address` details in the response body. For more details, see [Get\
        \ Account Summary Details](/api_guide/account_details_get.html)."
      operationId: "getAccountById"
      produces:
      - "application/json"
      parameters:
      - name: "extra_fields"
        in: "query"
        description: "Use the `extra_fields` query parameter to include the `physical_address`\
          \ and/or `company_logo` details in the response body. Use a comma separated\
          \ list to include both (physical_address, company logo)."
        required: false
        type: "string"
        format: "csv"
        x-example: "company_logo"
        enum:
        - "physical_address"
        - "company_logo"
      responses:
        "200":
          description: "Request successful"
          schema:
            $ref: "#/definitions/Customer"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "account_read"
      - oauth2_access_code:
        - "account_read"
      - api_key: []
      x-authorization-privileges:
      - "account:read"
    put:
      tags:
      - "Account Services"
      summary: "PUT (update) Account Details"
      description: "Use this method to update account details for a Constant Contact\
        \ account, such as the email address or phone number. This PUT method provides\
        \ a partial update where only valid properties that you include in the request\
        \ body are updated and excluded properties are not overwritten. For more details,\
        \ see [Put (update) Account Summary Details](/api_guide/account_details_put.html)."
      operationId: "putCustomerById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "In the request body, specify changes to account details by including\
          \ and modifying all or select `CustomerPut` properties. Changes to read-only\
          \ fields (`encoded_account_id`) are ignored."
        required: true
        schema:
          $ref: "#/definitions/CustomerPut"
      responses:
        "200":
          description: "Request successful"
          schema:
            $ref: "#/definitions/CustomerPut"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "account_update"
      - oauth2_access_code:
        - "account_update"
      - api_key: []
      x-authorization-privileges:
      - "account:update"
  /account/summary/physical_address:
    get:
      tags:
      - "Account Services"
      summary: "GET the Physical Address for the Account"
      description: "Use this method to get the address where the account's organization\
        \ physically resides. The physical address is required to send emails and\
        \ displays on the footer of every email that is sent from the account."
      operationId: "getPhysicalAddress"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "Request successful"
          schema:
            $ref: "#/definitions/AccountPhysicalAddress"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "415":
          description: "Unsupported Media Type."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "account_read"
      - oauth2_access_code:
        - "account_read"
      - api_key: []
      x-authorization-privileges:
      - "account:read"
    put:
      tags:
      - "Account Services"
      summary: "PUT (update) the Physical Address for an Account"
      description: "Use this method to update the organization's physical address\
        \ for the Constant Contact user account. The physical address is required\
        \ to send emails and displays on the footer of every email that is sent from\
        \ the account. To get the current physical address, make a GET call to `/account/summary/physical_address`.\
        \ The country (<code>country_code</code>) where the account organization resides\
        \ determines whether you use the <code>state_code</code> to specify United\
        \ States (<code>US</code>) and Canada (<code>CA</code>) addresses, or use\
        \ the <code>state_name</code> to specify all other countries. For more details,\
        \ see [Put (update) the Physical Address for the Account](/api_guide/account_address_put.html).\
        \ You must have the role of Account Owner assigned to update account level\
        \ details. "
      operationId: "putPhysicalAddress"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Include all `AccountPhysicalAddress` properties required for\
          \ the specified `country_code` and then update only those properties that\
          \ you want to change. Excluding a non-read only field from the request body\
          \ removes it from the physical address."
        required: true
        schema:
          $ref: "#/definitions/AccountPhysicalAddress"
      responses:
        "200":
          description: "Request successful"
          schema:
            $ref: "#/definitions/AccountPhysicalAddress"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "415":
          description: "Unsupported Media Type."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "account_update"
      - oauth2_access_code:
        - "account_update"
      - api_key: []
      x-authorization-privileges:
      - "account:update"
  /account/emails:
    get:
      tags:
      - "Account Services"
      summary: "GET a Collection of Account Email Addresses"
      description: "Use this method to return a collection of email addresses for\
        \ the account associated with your access token. When you <a href=\"https://v3.developer.constantcontact.com/api_reference/index.html#!/Email_Campaigns/createEmailCampaignUsingPOST\"\
        \ target=\"_blank\">Create an Email Campaign<a/>, you must use an account\
        \ email address with a `CONFIRMED` status in the email campaign `from_email`\
        \ and `reply_to_email` headers.\n      \n\nUse the query parameters to filter\
        \ results. You can filter using `confirm_status`, `role_code`, or `email_address`.\
        \ For example, searching with `confirm_status=CONFIRMED` returns all confirmed\
        \ email addresses in the account. This method only supports one query parameter\
        \ at a time.\n"
      operationId: "retrieveEmailAddresses"
      produces:
      - "application/json"
      parameters:
      - name: "confirm_status"
        in: "query"
        description: "Use the `confirm_status` query parameter to search for account\
          \ emails using the email status. Possible values are `CONFIRMED` or `UNCONFIRMED`.\
          \ You can also abbreviate the values of this query parameter and use `C`\
          \ or `U`.\n"
        required: false
        type: "string"
        enum:
        - "CONFIRMED"
        - "C"
        - "UNCONFIRMED"
        - "U"
      - name: "role_code"
        in: "query"
        description: "Use the `role_code` query parameter to search for account emails\
          \ that have a specific role. Each each email address in an account can have\
          \ multiple roles or no role. Possible values are `CONTACT`, `BILLING`, `REPLY_TO`,\
          \ `JOURNALING`, or `OTHER`. You can also abbreviate the value of this query\
          \ parameter and use `C`,`B`,`R`,`J`, or `O`."
        required: false
        type: "string"
        enum:
        - "CONTACT"
        - "C"
        - "BILLING"
        - "B"
        - "JOURNALING"
        - "J"
        - "REPLY_TO"
        - "R"
        - "OTHER"
        - "O"
      - name: "email_address"
        in: "query"
        description: "Use the `email_address` query parameter to search for a specific\
          \ account email address."
        required: false
        type: "string"
      responses:
        "200":
          description: "Request successful."
          schema:
            $ref: "#/definitions/AccountEmails"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "415":
          description: "Unsupported Media Type."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "account_read"
      - oauth2_access_code:
        - "account_read"
      - api_key: []
      x-authorization-privileges:
      - "account:read"
    post:
      tags:
      - "Account Services"
      summary: "POST Add an Account Email Address"
      description: "Use this method to add a new email address to a Constant Contact\
        \ account. If the email address you are adding already exists in the account\
        \ the API will return a 409 conflict error. \n\nWhen you add a new email address\
        \ to an account, Constant Contact automatically sends an email to that address\
        \ with a link to confirm it. After a user clicks that link, the account email\
        \ status changes from `UNCONFIRMED` to `CONFIRMED`. You can use confirmed\
        \ account email addresses in the email campaign `from_email` and `reply_to_email`\
        \ headers. For more use case information, see [Add an Account Email Address](/api_guide/account_post_emails.html)\
        \ in the API guide. \n"
      operationId: "addAccountEmailAddress"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "A JSON request payload containing the new email address you\
          \ want to add to the Constant Contact account."
        required: true
        schema:
          $ref: "#/definitions/AccountEmailInput"
      responses:
        "201":
          description: "Request successful."
          schema:
            $ref: "#/definitions/AccountEmailCreateResponse"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "409":
          description: "Conflict. The resource you are creating or updating conflicts\
            \ with an existing resource."
        "415":
          description: "Unsupported Media Type."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "account_update"
      - oauth2_access_code:
        - "account_update"
      - api_key: []
      x-authorization-privileges:
      - "account:update"
  /activities:
    get:
      tags:
      - "Bulk Activities"
      summary: "GET Activity Status Collection"
      description: "This endpoint returns a collection of activities. Use the state\
        \ query parameter to include only activities with a specific status (processing,\
        \ completed, cancelled, failed, or time_out). Use the limit query parameter\
        \ to define the number of activities returned per page. Learn [more](/api_guide/activity_status.html)."
      operationId: "getActivityStatusCollection"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Specifies the number of results displayed per page of output,\
          \ from 1 - 500, default = 50."
        required: false
        type: "integer"
        default: 50
        maximum: 500
        minimum: 1
        x-example: 25
      - name: "state"
        in: "query"
        description: "Use this parameter to filter the response to include only activities\
          \ in one of the following states: cancelled, completed, failed, processing,\
          \ or timed_out."
        required: false
        type: "string"
        x-example: "processing"
        enum:
        - "processing"
        - "completed"
        - "cancelled"
        - "failed"
        - "timed_out"
      responses:
        "200":
          description: "Request Successful"
          schema:
            $ref: "#/definitions/Activities"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
  /activities/{activity_id}:
    get:
      tags:
      - "Bulk Activities"
      summary: "GET an Activity Status"
      description: "This endpoint returns an activity status report."
      operationId: "getActivity"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "activity_id"
        in: "path"
        description: "The unique ID of the activity to GET"
        required: true
        type: "string"
        x-example: "04fe9a-a579-43c5-bb1a-58ed29bf0a6a"
      responses:
        "200":
          description: "Request Successful"
          schema:
            $ref: "#/definitions/Activity"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "Resource not found for the activity_id provided"
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
  /activities/contact_exports:
    post:
      tags:
      - "Bulk Activities"
      summary: "Export Contacts to a File"
      description: "Use this method to create an activity that exports contacts and\
        \ contact details to a CSV file. By default, all contacts are exported. To\
        \ filter contacts to export, specify the source to use, `contact_id`, `list_id`,\
        \ or `segment_id` (all mutually exclusive).\nBy default, all contact related\
        \ fields are exported. Use the fields array to only export specific contact\
        \ fields. You must export `email_address` to successfully export `email_optin_source`,\
        \ `email_optin_date`, `email_optout_source`, `email_optout_date`, or `email_optout_reason`.\n\
        After Constant Contact finishes processing the activity, use the `results`\
        \ link in the response body to retrieve the CSV file."
      operationId: "postContactsExport"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "A JSON payload that specifies the contacts (rows in the CSV\
          \ file) and contact properties (columns in the CSV file) you want to export."
        required: true
        schema:
          $ref: "#/definitions/ContactsExport"
      responses:
        "201":
          description: "Request successful, queued for processing."
          schema:
            $ref: "#/definitions/ActivityExportStatus"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
  /activities/contact_delete:
    post:
      tags:
      - "Bulk Activities"
      summary: "Delete Contacts in Bulk"
      description: "Use this endpoint to bulk delete contacts in an account. Contacts\
        \ to delete are specified by contact_id (up to 500), or by list_id (up to\
        \ 50 lists); all contacts that are members of the list_ids are deleted. Deleted\
        \ contacts won’t receive email from you, and they don’t count as active contacts.\
        \ Unlike unsubscribed contacts, deleted contacts can be added back to an account.\
        \ [Learn how to revive deleted contacts](/api_guide/contacts_delete.html#revive)."
      operationId: "postContactDelete"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The request body contains an array of contact_ids <em>or</em>\
          \ list_ids. All contact_ids provided are deleted, or all members of each\
          \ specified list_id are deleted."
        required: true
        schema:
          $ref: "#/definitions/ContactDelete"
      responses:
        "201":
          description: "Request successful. Activity queued for processing."
          schema:
            $ref: "#/definitions/ActivityDeleteStatus"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
  /activities/contacts_file_import:
    post:
      tags:
      - "Bulk Activities"
      summary: "Import Contacts using a CSV File"
      description: "This multipart method creates an asynchronous background job that\
        \ adds or updates contacts by importing a CSV file containing contact information.\
        \ Do not use a Content-Type header value with this method.\n\nImporting a\
        \ new contact automatically sets the contact's `permission_to_send` property\
        \ as `implicit` and the `opt_in_source` property as `Account`. Importing an\
        \ existing contact only updates the contact properties you include in the\
        \ request.\n\nThe CSV file has a maximum of 40,000 lines including the header\
        \ row (39,999 contacts) and a maximum file size of 4 megabytes (MB).  Lines\
        \ above the 40,000 line maximum are not processed. If the request body exceeds\
        \ 4 MB, only the contacts contained in the first 4 MB are imported and the\
        \ remaining data is dropped."
      operationId: "contactsCSVImport"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "file"
        in: "formData"
        description: "The CSV file you are importing. The column headings that you\
          \ can use in the file are: `first_name`,\n`last_name`, `email`, `phone`,\
          \ `job_title`, `anniversary`, `birthday_day`, `birthday_month`, `company_name`,\
          \ `street`, `street2`, `city`, `state`, `zip`, and `country`. The only required\
          \ column heading is `email`.\n\n\nYou can also use custom fields as column\
          \ headings. Enter the custom field name prefixed with `cf:` as the column\
          \ heading. For example, use `cf:first_name` as the header name if you have\
          \ a custom field named \"first_name\". The custom field must already exist\
          \ in the Constant Contact account you are using. Depending on the custom\
          \ field data type, you can enter dates or strings as the value of the custom\
          \ field. Each contact can contain up to 25 different custom fields.\n"
        required: true
        type: "file"
        x-example: "new_contacts_import.csv"
      - name: "list_ids"
        in: "formData"
        description: "Specify which contact lists you are adding all imported contacts\
          \ to as an array of up to 50 contact `list_id` values."
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        maxItems: 50
        x-example: "8c077f20-1586-11e4-bcb3-00163e56be7c"
      responses:
        "201":
          description: "Request successful. Activity queued for processing."
          schema:
            $ref: "#/definitions/ActivityImport"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "415":
          description: "1. This endpoint requires that Content-Type be unspecified\
            \ 2. Wrong file format, upload file must be of type .csv"
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
  /activities/contacts_json_import:
    post:
      tags:
      - "Bulk Activities"
      summary: "Import Contacts using a JSON Payload"
      description: "Use this method to create an asynchronous background job that\
        \ adds new contacts or updates existing contacts by importing a JSON payload.\
        \ This method requires a request body that contains the contact data you are\
        \ importing and the contact lists you are adding all imported contacts to.\n\
        \nImporting a new contact automatically sets the contact's `permission_to_send`\
        \ property as `implicit` and the `opt_in_source` property as `Account`. Importing\
        \ an existing contact only updates the contact properties you include in the\
        \ request.\n\nYou can import custom fields by prefixing a custom field name\
        \ with `cf:` and adding it as a contact property. For example, use the property\
        \ name `cf:first_name` if you have a custom field named first_name. The custom\
        \ field must already exist in the Constant Contact account you are using.\
        \ Each contact can contain up to 25 custom fields.\n\nThe request body payload\
        \ has a maximum size of 4 megabytes (MB). If the request body exceeds 4 MB,\
        \ this method only imports the first 4 MB and drops the remaining data."
      operationId: "bulkImportContactsJSON"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The JSON request payload that contains the contact data and\
          \ contact lists for the import."
        required: true
        schema:
          $ref: "#/definitions/ContactsJsonImport"
      responses:
        "201":
          description: "Request successful. Activity queued for processing."
          schema:
            $ref: "#/definitions/ActivityImport"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
  /activities/remove_list_memberships:
    post:
      tags:
      - "Bulk Activities"
      summary: "Remove Contacts from Lists"
      description: "Use this method to create an activity that removes contacts from\
        \ one or more lists. Use the properties in the `source` object to remove specific\
        \ contacts from your targeted lists. Use the `list_ids` array to specify the\
        \ lists from which you want to remove the source contacts.\n"
      operationId: "postListRemoveContact"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The JSON payload used to create the 'remove contacts from lists'\
          \ activity"
        required: true
        schema:
          $ref: "#/definitions/ListActivityRemoveContacts"
      responses:
        "201":
          description: "Request successful. Activity queued for processing."
          schema:
            $ref: "#/definitions/ActivityListsMembership"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
  /activities/add_list_memberships:
    post:
      tags:
      - "Bulk Activities"
      summary: "Add Contacts to Lists"
      description: "Use this method to create an activity that adds contacts to one\
        \ or more lists. Each contact can be a member of up to 50 lists. Use the properties\
        \ in the `source` object to specify the contacts you want to add to lists.\
        \ Use the `list_ids` array to specify which lists you want to add your source\
        \ contacts to."
      operationId: "postListAddContact"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The JSON payload used to create the 'add contacts to lists'\
          \ activity"
        required: true
        schema:
          $ref: "#/definitions/ListActivityAddContacts"
      responses:
        "201":
          description: "Request successful. Activity queued for processing."
          schema:
            $ref: "#/definitions/ActivityListsMembership"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
  /activities/contacts_taggings_remove:
    post:
      tags:
      - "Bulk Activities"
      summary: "Remove Tags from Contacts"
      description: "Use this method to create an asynchronous activity that removes\
        \ one or more tags from all contacts meeting your contact filtering criteria.\
        \ Filtering criteria must include the `source` type used to identify contacts\
        \ from which the specified tags (`tag_id`) are removed.\n\nSource types are\
        \ mutually exclusive. If the specified source is either `all_active_contacts`\
        \ or `list_ids`, you can optionally choose to `exclude` specified contacts\
        \ by `contact_id`. Use the activity link in the results to check the status\
        \ of your request.\"\n\nFor more use case information, see \"[Remove Tags\
        \ from Contacts](/api_guide/remove_tagging_activity.html)\"\n"
      operationId: "postTagRemoveContact"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The JSON payload used to create an asynchronous activity that\
          \ removes tags from contacts meeting your specified contact filtering criteria."
        required: true
        schema:
          $ref: "#/definitions/TagAddRemoveContacts"
      responses:
        "201":
          description: "Request successful. Activity queued for processing."
          schema:
            $ref: "#/definitions/ActivityTagging"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
  /activities/contacts_taggings_add:
    post:
      tags:
      - "Bulk Activities"
      summary: "Add Tags to Contacts"
      description: "Use this method to create an asynchronous activity that adds one\
        \ or more tags to all contacts meeting your contact filtering criteria. Use\
        \ the `source` type to identify contacts from which the specified tags (`tag_id`)\
        \ are added.\n\nSource criteria are mutually exclusive. If the source is `all_active_contacts`\
        \ or `list_ids`, you can optionally choose to `exclude` contacts by `contact_id`.\
        \ Use the activity link in the results to check the status of your request.\n\
        \nFor more use case information, see \"[Add Tags to Contacts](/api_guide/add_tagging_activity.html)\"\
        \n"
      operationId: "postTagAddContact"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The JSON payload used to create an asynchronous activity that\
          \ adds tags to contacts that meet your specified contact filtering criteria."
        required: true
        schema:
          $ref: "#/definitions/TagAddRemoveContacts"
      responses:
        "201":
          description: "Request successful. Activity queued for processing."
          schema:
            $ref: "#/definitions/ActivityTagging"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
  /activities/contacts_tags_delete:
    post:
      tags:
      - "Bulk Activities"
      summary: "Delete Tags"
      description: "Use this method to create an asynchronous activity that deletes\
        \ up to 500 tags. Deleted tags are automatically removed from tagged contacts.\
        \ Use the `tag_ids` array of string values in the request body to specify\
        \ which tags to delete."
      operationId: "postTagDelete"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "An array of string values (`tag_id`s) to delete."
        required: true
        schema:
          $ref: "#/definitions/TagIdList500Limit"
      responses:
        "201":
          description: "Request successful. Activity queued for processing."
          schema:
            $ref: "#/definitions/ActivityTagging"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
  /segments:
    get:
      tags:
      - "Segments"
      summary: "GET all Segments"
      description: "Use this method to get a list of all segments associated with\
        \ the account. You can sort segment results and limit the number of segments\
        \ that display per page. Deleted segments are excluded from the results. For\
        \ more use case information, see [Get All Segments](/api_guide/segment_get_all.html)\
        \ in the API guide."
      operationId: "getAccountSegments"
      produces:
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "The number of segments to return on a page."
        required: false
        type: "string"
        default: "1000"
        x-example: "1000"
      - name: "sort_by"
        in: "query"
        description: "Specify the segment sort order to use. Sort by name (`sort_by=name`)\
          \ in ascending order, or sort by date (`sort_by=date`) in descending order\
          \ with the most recently updated segments listed first."
        required: false
        type: "string"
        default: "date"
        x-example: "sort_by=date"
      responses:
        "200":
          description: "Request successful."
          schema:
            $ref: "#/definitions/SegmentsDTO"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "415":
          description: "Unsupported Media Type."
        "429":
          description: "Too many requests. You exceeded the request rate limit."
        "500":
          description: "There was a problem with our internal service."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:lists:read"
    post:
      tags:
      - "Segments"
      summary: "POST (create) a Segment"
      description: "Use this method to create a new segment. You create segments to\
        \ target a subset of your contacts that meet your specific criteria for a\
        \ marketing campaign. The segment `name` must be unique. The `segment_criteria`\
        \ requires single-string escaped JSON. Constant Contact uses the contact data\
        \ that you specify in the `segment_criteria` to evaluate and identify the\
        \ contacts you want to target. Contact data can be grouped from different\
        \ data sources, including:\n\n  -  **`tracking`**: Supports **or** and **and**\
        \ groups.\n\n\n  -  **`contact`**: Supports **or** and **and** groups.\n\n\
        \n  -  **`list_membership`**: Supports **or** groups.\n\n  -  **`tags`**:\
        \ Supports **or** groups.\n\nIf you do not specify `list_membership` as criteria,\
        \ Constant Contact evaluates all contacts in your account. To avoid returning\
        \ a 400 error response, when specifying the `segment_criteria` do not request\
        \ more than 500 email campaigns or a date range greater than 1825 days (5\
        \ years) be evaluated.\n\nFor more use case information, see the [Segments\
        \ Overview](/api_guide/segments_overview.html) in the API guide."
      operationId: "createSegment"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The segment `name` and `segment_criteria` (requires single-string\
          \ escaped JSON)."
        required: true
        schema:
          $ref: "#/definitions/SegmentData"
        x-example: "test"
      responses:
        "201":
          description: "Segment successfully created."
          schema:
            $ref: "#/definitions/SegmentDetail"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "409":
          description: "Conflict. The resource you are creating or updating conflicts\
            \ with an existing resource."
        "415":
          description: "Unsupported Media Type."
        "500":
          description: "There was a problem with our internal service."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:lists:write"
  /segments/{segment_id}:
    get:
      tags:
      - "Segments"
      summary: "GET a Segment's Details"
      description: "Use this method to get details about a segment, including the\
        \ segment criteria. If you know the `segment_id` You can also use this method\
        \ to get details about a deleted segment. For more use case information, see\
        \ [Get a Segment's Details](/api_guide/segment_get.html) in the API guide."
      operationId: "getSegmentDetail"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "segment_id"
        in: "path"
        description: "The system-generated unique ID that identifies a segment."
        required: true
        type: "integer"
        format: "int32"
        x-example: 14
      responses:
        "200":
          description: "The segment was successfully returned."
          schema:
            $ref: "#/definitions/SegmentDetail"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "404":
          description: "The requested resource was not found."
        "415":
          description: "Unsupported Media Type."
        "500":
          description: "There was a problem with our internal service."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:lists:read"
    put:
      tags:
      - "Segments"
      summary: "PUT (update) a Segment"
      description: "Use this method to update an existing segment's name (`name`)\
        \ and/or contact selection criteria (`segment_criteria`). You must specify\
        \ both the `name` and the `segment_criteria` in the request body, even if\
        \ you don't plan to update both. The segment's name must be unique and the\
        \ JSON must be valid (requires single-string escaped JSON). To avoid returning\
        \ a 400 error response, when specifying the `segment_criteria` do not request\
        \ more than 500 email campaigns or a date range greater than 1825 days (5\
        \ years) be evaluated. For more use case information, see [Update Segment\
        \ Details](/api_guide/segment_update.html) in the API guide."
      operationId: "updateSegment"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "segment_id"
        in: "path"
        description: "The system generated ID that uniquely identifies the segment\
          \ that you want to modify."
        required: true
        type: "integer"
        format: "int32"
        x-example: 14
      - in: "body"
        name: "body"
        description: "Include both the `name` and `segment_criteria` (single-string\
          \ escaped JSON) in the body request, then make updates to either or both."
        required: true
        schema:
          $ref: "#/definitions/SegmentData"
      responses:
        "200":
          description: "The segment was successfully updated."
          schema:
            $ref: "#/definitions/SegmentDetail"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "409":
          description: "Conflict. The resource you are creating or updating conflicts\
            \ with an existing resource."
        "415":
          description: "Unsupported Media Type."
        "500":
          description: "There was a problem with our internal service."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:lists:write"
    delete:
      tags:
      - "Segments"
      summary: "DELETE a Segment"
      description: "Use this method to delete a segment from your account. Before\
        \ deleting a segment, verify that the segment is not associated with a scheduled\
        \ campaign.\n\nDeleted segments do not display in the results when using the\
        \ `GET /segments` endpoint. If you know the `segment_id`, you can use the\
        \ `GET /segments/{segment_id}` endpoint to view the deleted segment's details.\
        \ A segment's details are preserved for external reference purposes, such\
        \ as displaying the segment name in a campaign's history. For more use case\
        \ information, see [Delete a Segment](/api_guide/segment_delete.html) in the\
        \ API guide."
      operationId: "deleteSegment"
      produces:
      - "application/json"
      parameters:
      - name: "segment_id"
        in: "path"
        description: "The system generated ID that uniquely identifies the segment."
        required: true
        type: "integer"
        format: "int32"
        x-example: 14
      responses:
        "204":
          description: "The segment was successfully deleted."
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "415":
          description: "Unsupported Media Type."
        "500":
          description: "There was a problem with our internal service."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:lists:write"
  /segments/{segment_id}/name:
    patch:
      tags:
      - "Segments"
      summary: "PATCH (rename) a Segment"
      description: "Use this method to update an existing segment `name` with a new\
        \ unique name in the request body. For more use case information, see [Rename\
        \ a Segment](/api_guide/segment_rename.html) in the API guide."
      operationId: "updateSegmentName"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "segment_id"
        in: "path"
        description: "The system generated ID that uniquely identifies the segment\
          \ that you want to modify."
        required: true
        type: "integer"
        format: "int32"
        x-example: 14
      - in: "body"
        name: "body"
        description: "Include the existing segment `name` in the body request, then\
          \ rename the segment using a unique new name."
        required: true
        schema:
          $ref: "#/definitions/SegmentName"
      responses:
        "200":
          description: "The segment name was successfully updated."
          schema:
            $ref: "#/definitions/SegmentDetail"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "409":
          description: "Conflict. The resource you are creating or updating conflicts\
            \ with an existing resource."
        "415":
          description: "Unsupported Media Type."
        "500":
          description: "There was a problem with our internal service."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:lists:write"
  /contacts/{contact_id}:
    get:
      tags:
      - "Contacts"
      summary: "GET a Contact"
      description: "This endpoint GETs a specific contact resource (contact_id). Use\
        \ the `include` query parameter to add any of the available contact sub-resources\
        \ to the response payload."
      operationId: "getContact"
      produces:
      - "application/json"
      parameters:
      - name: "contact_id"
        in: "path"
        description: "Unique ID of contact to GET"
        required: true
        type: "string"
        x-example: "04fe9a-a579-43c5-bb1a-58ed29bf0a6a"
      - name: "include"
        in: "query"
        description: "Use `include` to specify which contact sub-resources to include\
          \ in the response. Use a comma to separate multiple sub-resources. Valid\
          \ values: `custom_fields`, `list_memberships`, `phone_numbers`, `street_addresses`,\
          \ `notes`, and `taggings`."
        required: false
        type: "string"
        format: "csv"
        x-example: "custom_fields,list_memberships"
        enum:
        - "custom_fields"
        - "list_memberships"
        - "phone_numbers"
        - "street_addresses"
        - "taggings"
        - "notes"
      responses:
        "200":
          description: "Request successful"
          schema:
            $ref: "#/definitions/ContactResource"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:read"
    put:
      tags:
      - "Contacts"
      summary: "PUT (update) a Contact"
      description: "The PUT method updates an existing contact. You must include the\
        \ `update_source` property in the PUT request payload. To restore  a deleted\
        \ contact you must specify the `update_source` as `Account`. When updating\
        \ any resource using PUT, all properties are updated, overwriting all previous\
        \ values. Any properties left blank or not included in the request are overwritten\
        \ with null value - however this does not apply to contact subresources. Add\
        \ or change any of the subresources by including them in the PUT request payload.\
        \ Omitted subresources are not overwritten with null. If the contact being\
        \ updated is deleted, the contact will be revived."
      operationId: "putContact"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "contact_id"
        in: "path"
        description: "Unique ID of contact to update"
        required: true
        type: "string"
        x-example: "04fe9a-a579-43c5-bb1a-58ed29bf0a6a"
      - in: "body"
        name: "body"
        description: "JSON payload defining the contact object, with updates. Any\
          \ properties left blank or not included in the PUT payload are overwritten\
          \ with null value - does not apply to contact subresources."
        required: true
        schema:
          $ref: "#/definitions/ContactPutRequest"
      responses:
        "200":
          description: "Contact resource has been updated"
          schema:
            $ref: "#/definitions/ContactResource"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "409":
          description: "Conflict. The resource you are creating or updating conflicts\
            \ with an existing resource."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
    delete:
      tags:
      - "Contacts"
      summary: "DELETE a Contact"
      description: "Deletes the contact identified by the contact_id path parameter.\
        \ Deleted contacts won't receive email from you, and they don't count as active\
        \ contacts. Unlike unsubscribed contacts, deleted contacts can be revived,\
        \ or added back to an account. Learn how to [revive deleted contacts](/api_guide/contacts_delete.html#revive)."
      operationId: "deleteContact"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "contact_id"
        in: "path"
        description: "Unique ID of contact to DELETE"
        required: true
        type: "string"
        x-example: "04fe9a-a579-43c5-bb1a-58ed29bf0a6a"
      responses:
        "204":
          description: "Request successful; No content returned"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "415":
          description: "Unsupported Media Type."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
  /contacts:
    get:
      tags:
      - "Contacts"
      summary: "GET Contacts Collection"
      description: "Use this method to return a collection of contacts. Use the query\
        \ parameters to search for contacts that match specific criteria. For example,\
        \ you can search by the contact's `email` address, `status`, `lists` memberships,\
        \ `segment_id`, `tags`, `notes` and `updated_after` date. Use the `limit`\
        \ query parameter to limit the number of results returned per page. Use the\
        \ `include` query parameter to include contact sub-resources in the response\
        \ and `include_count` to include the total number of contacts that meet your\
        \ specified search criteria.\n\nBy default, this method returns all contacts\
        \ that are not deleted. Use the `status` query parameter with the value `all`\
        \ to return all contacts including deleted contacts."
      operationId: "getContacts"
      produces:
      - "application/json"
      parameters:
      - name: "status"
        in: "query"
        description: "Use the `status` query parameter to search for contacts by status.\
          \ This parameter accepts one or more comma separated values: `all`, `active`,\
          \ `deleted`, `not_set`, `pending_confirmation`, `temp_hold`, and `unsubscribed`."
        required: false
        type: "string"
        format: "csv"
        enum:
        - "all"
        - "active"
        - "deleted"
        - "not_set"
        - "pending_confirmation"
        - "temp_hold"
        - "unsubscribed"
      - name: "email"
        in: "query"
        description: "Use the `email` query parameter to search for a contact using\
          \ a specific email address."
        required: false
        type: "string"
        x-example: "xyz@example.com"
      - name: "lists"
        in: "query"
        description: "Use the `lists` query parameter to search for contacts that\
          \ are members of one or more specified lists. Use a comma to separate multiple\
          \ `list_id` values, up to a maximum of 25."
        required: false
        type: "string"
        maximum: 25
        x-example: "04fe9a-a579-43c5-bb1a-58ed29bf0a6a,04fe9a-a579-43c5-bb1a-58ed29bf0a6a,04fe9a-a579-43c5-bb1a-58ed29bf0a6a"
      - name: "segment_id"
        in: "query"
        description: "Use to get contacts that meet the segment criteria for a single\
          \ specified `segment_id`. This query parameter can only be combined with\
          \ the limit query parameter. When using the `segment_id` query parameter,\
          \ the V3 API may return a 202 response code instead of a 200 response. The\
          \ 202 response code indicates that your request has been accepted, but not\
          \ fully completed. Retry sending your API request to return the completed\
          \ results and a 200 response code."
        required: false
        type: "string"
        maximum: 1
        x-example: "14"
      - name: "tags"
        in: "query"
        description: "Use to get contact details for up to 50 specified tags. Use\
          \ a comma to separate each `tag_id`."
        required: false
        type: "string"
        maximum: 50
        format: "uuid"
        x-example: "fa85f64-5717-4562-b3fc-2c963f66afa6"
      - name: "updated_after"
        in: "query"
        description: "Use `updated_after` to search for contacts that have been updated\
          \ after the date you specify; accepts ISO-8601 formatted dates."
        required: false
        type: "string"
        format: "date"
        x-example: "2016-07-16"
      - name: "include"
        in: "query"
        description: "Use `include` to specify which contact sub-resources to include\
          \ in the response. Use a comma to separate multiple sub-resources. Valid\
          \ values: `custom_fields`, `list_memberships`, `taggings`, `notes`,`phone_numbers`,\
          \ `street_addresses`. "
        required: false
        type: "string"
        format: "csv"
        x-example: "custom_fields,list_memberships"
        enum:
        - "custom_fields"
        - "list_memberships"
        - "phone_numbers"
        - "street_addresses"
        - "taggings"
        - "notes"
      - name: "include_count"
        in: "query"
        description: "Set `include_count=true` to include the total number of contacts\
          \ (`contacts_count`) that meet all search criteria in the response body."
        required: false
        type: "boolean"
        x-example: true
      - name: "limit"
        in: "query"
        description: "Specifies the number of results displayed per page of output\
          \ in the response, from 1 - 500, default = 50."
        required: false
        type: "integer"
        default: 50
        maximum: 500
        minimum: 1
        x-example: 25
      responses:
        "200":
          description: "Request successful"
          schema:
            $ref: "#/definitions/Contacts"
        "202":
          description: "Accepted"
          schema:
            $ref: "#/definitions/Contacts"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:read"
    post:
      tags:
      - "Contacts"
      summary: "POST (create) a Contact"
      description: "Creates a new contact resource; you must include the `create_source`\
        \ property and at least one of the following properties when creating a new\
        \ contact: `first_name`, `last_name`, or `email_address` (`email_address`\
        \ must be unique for each contact)."
      operationId: "createContact"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The JSON payload defining the contact"
        required: true
        schema:
          $ref: "#/definitions/ContactPostRequest"
      responses:
        "201":
          description: "New contact successfully created"
          schema:
            $ref: "#/definitions/ContactResource"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "409":
          description: "Conflict. The resource you are creating or updating conflicts\
            \ with an existing resource."
        "415":
          description: "Unsupported Media Type; the payload must be in JSON format,\
            \ and Content-Type must be application/json"
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
  /contacts/sign_up_form:
    post:
      tags:
      - "Contacts"
      summary: "Create or Update a Contact"
      description: "Use this method to create a new contact or update an existing\
        \ contact. This method uses the `email_address` string value you include in\
        \ the request body to determine if it should create an new contact or update\
        \ an existing contact.\n\nUpdates to existing contacts are partial updates.\
        \ This method only updates the contact properties you include in the request\
        \ body. Updates append new contact lists or custom fields to the existing\
        \ `list_memberships` or `custom_fields` arrays.\n<div class=\"Msg\"><p class=\"\
        note-text\">Only use this method when a contact gives you their explicit permission\
        \ to send them emails. It is a violation of US and Canadian anti-spam laws,\
        \ as well as a serious violation of the Constant Contact Terms of Service\
        \ to use the Opt-in features of the API to opt a contact back in without his\
        \ or her own action and consent.</p></div>\n\nWhen this method creates a new\
        \ contact, it returns a 201 response code.\n\nWhen this method updates an\
        \ existing contact, it returns a 200 response code. Updating a deleted contact\
        \ restores the contact.\n\nThe method automatically modifies the contact's\
        \ `permission_to_send` and `opt_in_source` properties depending on the [Confirmed\
        \ Opt-In](https://knowledgebase.constantcontact.com/articles/KnowledgeBase/5533-obtain-permission-to-send-email-campaigns-to-your-contacts-by-using-confirmed-opt-in)\
        \ Constant Contact account setting:\n\nIf Confirmed Opt-in is _enabled_, this\
        \ method automatically sets the `permission_to_send` property as pending\\\
        _confirmation for new contacts. \n\nIf Confirmed Opt-in is _disabled_, this\
        \ method automatically sets the `permission_to_send` property as explicit\
        \ and the `opt_in_source` property as `Contact` for new contacts. Updated\
        \ contacts have their `permission_to_send` property set as explicit.\n   \
        \   \n"
      operationId: "createOrUpdateContact"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "A JSON request body payload that contains the contact resource\
          \ you are creating or updating. The request body must contain the `email_address`\
          \ property and the `list_memberships` array."
        required: true
        schema:
          $ref: "#/definitions/ContactCreateOrUpdateInput"
      responses:
        "200":
          description: "Contact successfully updated."
          schema:
            $ref: "#/definitions/ContactCreateOrUpdateResponse"
        "201":
          description: "Contact successfully created."
          schema:
            $ref: "#/definitions/ContactCreateOrUpdateResponse"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "409":
          description: "Conflict. You sent simultaneous requests that are attempting\
            \ to modify the same contact."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
  /contacts/contact_id_xrefs:
    get:
      tags:
      - "Contacts"
      summary: "GET a collection of V2 and V3 API contact IDs"
      description: "<div class=\"Msg Msg--warning\"><p class=\"note-text\">Use this\
        \ endpoint to migrate your locally stored V2 contact ids to the new V3 format.\
        \ Developers are expected to use this endpoint sparingly. This endpoint is\
        \ NOT intended for regular or repeated use. Constant Contact will eventually\
        \ deprecate and remove this endpoint.</p></div>\n\nThis GET call retrieves\
        \ a collection of cross-referenced contact sequence IDs (`id` used in the\
        \ V2 API) and UUIDs (`contact_id` used in the V3 API). This endpoint is intended\
        \ for developers who have an existing V2 API integration, and are migrating\
        \ their users to a new V3 API integration. The V2 and V3 APIs use different\
        \ resource ID formats. Use the `sequence_ids` query parameter to specify a\
        \ set of comma delimited V2 contacts ids to cross-referenced with their V3\
        \ `contact_ids`. See [Migrating to V3](/api_guide/migration_overview.html)\
        \ to learn more.\n"
      operationId: "getContactIdXrefs"
      produces:
      - "application/json"
      parameters:
      - name: "sequence_ids"
        in: "query"
        description: "Comma delimited list of V2 API contact `ids` to cross-reference\
          \ with the V3 API `contact_id` value. Endpoint accepts a maximum of 500\
          \ ids at a time."
        required: true
        type: "string"
        maxItems: 500
        format: "csv"
        x-example: "1995998026,1882999944,1775099999"
      responses:
        "200":
          description: "Request successful"
          schema:
            $ref: "#/definitions/ContactXrefs"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:read"
  /contact_custom_fields/{custom_field_id}:
    get:
      tags:
      - "Contacts Custom Fields"
      summary: "GET a custom_field"
      description: "This GET call retrieves a `custom_field` resource, specified by\
        \ `custom_field_id`."
      operationId: "getCustomField"
      produces:
      - "application/json"
      parameters:
      - name: "custom_field_id"
        in: "path"
        description: "Unique ID of the `custom_field` on which to operate."
        required: true
        type: "string"
        x-example: "04fe9a-a579-43c5-bb1a-58ed29bf0a6a"
      responses:
        "200":
          description: "Request successful"
          schema:
            $ref: "#/definitions/CustomFieldResource"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:read"
    put:
      tags:
      - "Contacts Custom Fields"
      summary: "PUT (update) a custom_field"
      description: "This PUT request updates an existing `custom_field` object."
      operationId: "putCustomField"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "custom_field_id"
        in: "path"
        description: "Unique ID of the `custom_field` on which to operate."
        required: true
        type: "string"
        x-example: "04fe9a-a579-43c5-bb1a-58ed29bf0a6a"
      - in: "body"
        name: "body"
        description: "The JSON payload used to update an existing custom field. Any\
          \ properties omitted in the PUT request are overwritten with a null value."
        required: true
        schema:
          $ref: "#/definitions/CustomFieldInput"
      responses:
        "200":
          description: "Success - custom_field updated"
          schema:
            $ref: "#/definitions/CustomFieldResource"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
    delete:
      tags:
      - "Contacts Custom Fields"
      summary: "DELETE a custom_field"
      description: "This DELETE request deletes a custom_field from the user's account"
      operationId: "deleteCustomField"
      consumes:
      - "application/json"
      parameters:
      - name: "custom_field_id"
        in: "path"
        description: "Unique ID of the custom_field on which to operate."
        required: true
        type: "string"
        x-example: "04fe9a-a579-43c5-bb1a-58ed29bf0a6a"
      responses:
        "204":
          description: "Request successful; No content returned"
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "415":
          description: "Unsupported Media Type."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
  /contact_custom_fields:
    get:
      tags:
      - "Contacts Custom Fields"
      summary: "GET custom_fields Collection"
      description: "This GET request returns all `custom_fields` defined in the user's\
        \ account.\n<div class=\"Msg\"><p class=\"note-text\">This method does not\
        \ currently support filtering results using the custom field update date.</p></div>\n"
      operationId: "getCustomFields"
      produces:
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Specifies the number of results displayed per page of output,\
          \ from 1 - 100, default = 50."
        required: false
        type: "integer"
        default: 50
        maximum: 100
        minimum: 1
      responses:
        "200":
          description: "Request successful"
          schema:
            $ref: "#/definitions/CustomFields"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:read"
    post:
      tags:
      - "Contacts Custom Fields"
      summary: "POST (create) a custom_field"
      description: "This POST request adds a new `custom_field` to the user's account.\
        \ A user can configure up to 100 `custom_fields` in their account."
      operationId: "postCustomFields"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The JSON payload required to create a new `custom_field`"
        required: true
        schema:
          $ref: "#/definitions/CustomFieldInput"
      responses:
        "201":
          description: "New custom_field successfully created"
          schema:
            $ref: "#/definitions/CustomFieldResource"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "409":
          description: "Conflict. The resource you are creating or updating conflicts\
            \ with an existing resource."
        "415":
          description: "Unsupported Media Type; the payload must be in JSON format,\
            \ and Content-Type must be application/json."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:write"
  /contact_lists/{list_id}:
    get:
      tags:
      - "Contact Lists"
      summary: "GET a List"
      description: "Use this method to get details about a specific contact list (`list_id`)."
      operationId: "getList"
      produces:
      - "application/json"
      parameters:
      - name: "list_id"
        in: "path"
        description: "The system generated ID that uniquely identifies a contact list."
        required: true
        type: "string"
        format: "uuid"
        x-example: "cbc05bac-6a41-46fa-a063-79961763bf4b"
      - name: "include_membership_count"
        in: "query"
        description: "Use to include the number of contact members per list by setting\
          \ the `include_membership_count` to either `active`, to count only active\
          \ contacts, or `all` to include all contacts in the count."
        required: false
        type: "string"
        x-example: "all"
        enum:
        - "all"
        - "active"
      responses:
        "200":
          description: "Request successful"
          schema:
            $ref: "#/definitions/ContactList"
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:lists:read"
    put:
      tags:
      - "Contact Lists"
      summary: "PUT (update) a List"
      description: "Updates an existing contact list resource, specified by `list_id`"
      operationId: "putList"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "list_id"
        in: "path"
        description: "Unique ID of the contact list to update"
        required: true
        type: "string"
        format: "uuid"
        x-example: "cbc05bac-6a41-46fa-a063-79961763bf4b"
      - in: "body"
        name: "JSON PUT body"
        description: "JSON payload containing updates to the specified contact list"
        required: true
        schema:
          $ref: "#/definitions/ListInput"
      responses:
        "200":
          description: "Request successful"
          schema:
            $ref: "#/definitions/ContactList"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:lists:write"
    delete:
      tags:
      - "Contact Lists"
      summary: "DELETE a List"
      description: "Deletes the specified contact list and its membership. DELETE\
        \ List requests are processed asynchronously, and you can track the status\
        \ of the request by making a GET call to the URI shown in the `_links` property\
        \ in the response."
      operationId: "deleteListActivity"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "list_id"
        in: "path"
        description: "Unique ID of the list to delete"
        required: true
        type: "string"
        format: "uuid"
        x-example: "cbc05bac-6a41-46fa-a063-79961763bf4b"
      responses:
        "202":
          description: "Accepted"
          headers:
            Location:
              type: "string"
              description: "URL to retrieve the delete activity status"
          schema:
            $ref: "#/definitions/ActivityDeleteListResponse"
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "415":
          description: "Unsupported Media Type."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:lists:write"
  /contact_lists:
    get:
      tags:
      - "Contact Lists"
      summary: "GET Lists Collection"
      description: "Use this method to return details about all contact lists for\
        \ the account.\n<div class=\"Msg\"><p class=\"note-text\">This method does\
        \ not currently support filtering results using the contact list update date.</p></div>\n"
      operationId: "getLists"
      produces:
      - "application/json"
      parameters:
      - name: "limit"
        in: "query"
        description: "Use to specify the number of results displayed per page of output,\
          \ from 1 - 500, default = 50."
        required: false
        type: "integer"
        default: 50
        maximum: 1000
        minimum: 1
      - name: "include_count"
        in: "query"
        description: "Set `include_count` to `true` to return the total number of\
          \ contact lists that meet your selection criteria."
        required: false
        type: "boolean"
        default: false
        x-example: true
      - name: "include_membership_count"
        in: "query"
        description: "Use to include the number of contact members per list by setting\
          \ the `include_membership_count` to either `active`, to count only active\
          \ contacts, or `all` to include all contacts in the count."
        required: false
        type: "string"
        x-example: "all"
        enum:
        - "all"
        - "active"
      responses:
        "200":
          description: "Request successful"
          schema:
            $ref: "#/definitions/ContactListArray"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:lists:read"
    post:
      tags:
      - "Contact Lists"
      summary: "POST (create) a List"
      description: "Create a new contact list resource"
      operationId: "createList"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "JSON payload defining the new contact list"
        required: true
        schema:
          $ref: "#/definitions/ListInput"
      responses:
        "201":
          description: "New list successfully created"
          schema:
            $ref: "#/definitions/ContactList"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "409":
          description: "Conflict. The resource you are creating or updating conflicts\
            \ with an existing resource."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:lists:write"
  /contact_lists/list_id_xrefs:
    get:
      tags:
      - "Contact Lists"
      summary: "GET a collection of V2 and V3 API List IDs"
      description: "<div class=\"Msg Msg--warning\"><p class=\"note-text\">Use this\
        \ endpoint to migrate your locally stored V2 contact list data to the new\
        \ V3 format. Developers are expected to use this endpoint sparingly. This\
        \ endpoint is NOT intended for regular or repeated use. Constant Contact will\
        \ eventually deprecate and remove this endpoint.</p></div>\n\nThis GET call\
        \ retrieves a collection of cross-referenced list sequence IDs (`id` used\
        \ in the V2 API) and UUIDs (`list_id` used in the V3 API). This endpoint is\
        \ intended for developers who have an existing V2 API integration, and are\
        \ migrating their users to a new V3 API integration. The V2 and V3 APIs use\
        \ different resource ID formats. Use the `sequence_ids` query parameter to\
        \ specify a set of comma delimited V2 list ids to cross-reference. See [Migrating\
        \ Apps and Data to V3](/api_guide/migration_overview.html) to learn more.\"\
        \ \n"
      operationId: "getListIdXrefs"
      produces:
      - "application/json"
      parameters:
      - name: "sequence_ids"
        in: "query"
        description: "Comma delimited list of V2 API list `ids` to cross-reference\
          \ with the V3 API `list_id` value. Endpoint accepts a maximum of 500 ids\
          \ at a time."
        required: true
        type: "string"
        maxItems: 500
        format: "csv"
        x-example: "1995998026,1882999944,1775099999"
      responses:
        "200":
          description: "Request successful"
          schema:
            $ref: "#/definitions/ListXrefs"
        "400":
          description: "Bad request. Either the JSON was malformed or there was a\
            \ data validation error."
        "401":
          description: "The Access Token used is invalid."
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: "The requested resource was not found."
        "500":
          description: "There was a problem with our internal service."
        "503":
          description: "Our internal service is temporarily unavailable."
      security:
      - oauth2_implicit:
        - "contact_data"
      - oauth2_access_code:
        - "contact_data"
      - api_key: []
      x-authorization-privileges:
      - "contacts:lists:read"
  /contact_tags/{tag_id}:
    get:
      tags:
      - "Contact Tags"
      summary: "GET Tag Details"
      description: "Use this method to get tag details for a specified `tag_id`. Use\
        \ the `include_count` query parameter to include or exclude the total number\
        \ of contacts to which this tag is assigned. To learn more, see  [Get a Tag's\
        \ Details](/api_guide/tags_get_single.html)."
      operationId: "getTag"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "tag_id"
        in: "path"
        description: "The ID that uniquely identifies a tag (UUID format)."
        required: true
        type: "string"
        format: "uuid"
        x-example: "d938260a-af1e-11e9-a540-fa163e595123"
      - name: "include_count"
        in: "query"
        description: "Use to include (`true`) or exclude (`false`) the total number\
          \ of tagged contacts (`contacts_count`) from the results."
        required: false
        type: "boolean"
        default: false
        x-example: true
      responses:
        "200":
          description: "Request Successful"
          schema:
            $ref: "#/definitions/Tag"
        "400":
[...]
